
    <article class="staff_intaview">
        <div class="staff_intaview-wrapper">
            <div class="pc_linetxt">
                <span><img src="<%= rootURL %>/assets/img/pc_linetxt.png" alt=""></span>
                <span><img src="<%= rootURL %>/assets/img/pc_linetxt.png" alt=""></span>
                <span><img src="<%= rootURL %>/assets/img/pc_linetxt.png" alt=""></span>
                <span><img src="<%= rootURL %>/assets/img/pc_linetxt.png" alt=""></span>
            </div>
            <div class="staff_intaview-left">
                <div class="pc_ttl-wrap">
                    <div class="pc_ttl">
                        <img src="<%= rootURL %>/assets/img/pc_ttl.png" alt="">
                    </div>
                    <p class="pc_date aktiv_b">
                        (&emsp;2025  Apr .&emsp;)
                    </p>
                </div>
            </div>
            <div class="staff_intaview-inner">
                
                <%- include('./_top.ejs') %>
                <%- include('./_main.ejs') %>
                <!-- <div class="tag_list-wrap">
                    <ul class="tag_list">
                        <li class="pro_m">#THE NORTH FACE</li>
                        <li class="pro_m">#Goldwin</li>
                        <li class="pro_m">#ジャケット</li>
                        <li class="pro_m">#バック</li>
                        <li class="pro_m">#フェス</li>
                        <li class="pro_m">#THE NORTH FACE</li>
                        <li class="pro_m">#Goldwin</li>
                        <li class="pro_m">#ジャケット</li>
                        <li class="pro_m">#バック</li>
                    </ul>
                </div> -->

                <div class="article_list">
                    <div class="article_list-inner">
                        <p class="article_name pro_b">
                            Latest Article
                        </p>
                        
                        <div class="article_swiper">
                            <div class="swiper-wrapper article-swiper-wrapper">
                                <div class="swiper-slide item anchor_list">
                                    <div class="article_item-wrap">
                                        <a href="#people_1">
                                            <div class="item_ph">
                                                <img src="<%= rootURL %>/assets/img/article1-1.png" alt="">
                                            </div>
                                            <p class="item_catch">
                                                旅行に欠かせない相棒
                                            </p>
                                            <p class="article_date pro_m">
                                                2025.04.04
                                            </p>
                                        </a>
                                    </div>
                                    <div class="article_item-wrap">
                                        <a href="#people_2">
                                            <div class="item_ph">
                                                <img src="<%= rootURL %>/assets/img/article2-1.png" alt="">
                                            </div>
                                            <p class="item_catch">
                                                山でも街でも！
                                            </p>
                                            <p class="article_date pro_m">
                                                2025.04.04
                                            </p>
                                        </a>
                                    </div>
                                </div>
                                <!-- <div class="swiper-slide item">
                                    <div class="article_item-wrap">
                                        <div class="item_ph">
                                            <img src="<%= rootURL %>/assets/img/article2-1.png" alt="">
                                        </div>
                                        <p class="item_catch">
                                            アイテムに対しての<br>
                                            キャッチがはいります
                                        </p>
                                        <p class="article_date pro_m">
                                            2025.03.05
                                        </p>
                                    </div>
                                    <div class="article_item-wrap">
                                        <div class="item_ph">
                                            <img src="<%= rootURL %>/assets/img/article2-2.png" alt="">
                                        </div>
                                        <p class="item_catch">
                                            アイテムに対しての<br>
                                            キャッチがはいります
                                        </p>
                                        <p class="article_date pro_m">
                                            2025.03.05
                                        </p>
                                    </div>
                                </div> -->
                            </div>
                            
                            <!-- <div class="swiper-pagination"></div>
                            
                            <div class="swiper-button-prev"></div>
                            <div class="swiper-button-next"></div> -->
                        </div>
                    </div>
                </div>
                <!-- <div class="selector_list-wrap">
                    <p class="article_name pro_b">
                        STAFF LIST
                    </p>
                    <ul class="selector_list ">
                        <li>
                            <span class="selsctor_num">
                                01
                            </span>
                            <div class="selector_photo">
                                <img src="<%= rootURL %>/assets/img/people_1.png" alt="">
                            </div>
                            <p class="selector_name">
                                <span>(マーケティング)</span><br>
                                〇〇さん
                            </p>
                        </li>
                        <li>
                            <span class="selsctor_num">
                                02
                            </span>
                            <div class="selector_photo">
                                <img src="<%= rootURL %>/assets/img/people_2.png" alt="">
                            </div>
                            <p class="selector_name">
                                <span>(マーケティング)</span><br>
                                〇〇さん
                            </p>
                        
                        </li>
                    </ul>
                </div> -->

                

                <!-- <div class="backnum">
                    <p class="backnumber pro_b">
                        Back Number
                    </p>
                    <a href="" target="_blank">
                        <p class="back_here pro_semb"> 
                            バックナンバーはこちら
                        </p>
                        <span class="link_arrow">
                            <img src="<%= rootURL %>/assets/img/link_arrow-b.png" alt="">
                        </span>
                    </a>
                </div> -->
            </div>
            <div class="staff_intaview-right">
                <div class="pc_latestarticle">
                    <p class="pc_latestarticle-ttl pro_b">
                        Latest Article
                    </p>
                    <div class="pc_latestarticle-sec pc-anchor_list">
                        <div class="pc_latestarticle-contents">
                            <a href="#people_1" class="pc_latestarticle-inner">
                                <div class="pc_latestarticle-ph">
                                    <img src="<%= rootURL %>/assets/img/article1-1.png" alt="">
                                </div>
                                <p class="pc_latestarticle-catch">
                                    旅行に欠かせない相棒
                                    <span class="pc_latestarticle-date pro_semb">
                                        2025.04.04
                                    </span>
                                </p>
                            </a>
                        </div>
                        <div class="pc_latestarticle-contents">
                            <a href="#people_2" class="pc_latestarticle-inner">
                                <div class="pc_latestarticle-ph">
                                    <img src="<%= rootURL %>/assets/img/article2-1.png" alt="">
                                </div>
                                <p class="pc_latestarticle-catch">
                                    山でも街でも！
                                    <span class="pc_latestarticle-date pro_semb">
                                        2025.04.04
                                    </span>
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>

    <!-- <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script> -->
    <script src="https://unpkg.com/swiper@8.4.7/swiper-bundle.min.js"></script>
    <!-- 本番に入れる時はjqueryを消す -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <!-- 本番に入れる時はjqueryを消す -->
    <script src="<%= rootURL %>/assets/js/index.js"></script>
</body>
</html>