<header class="staff_mv">
    <p class="mv_staff">
        <span style="--index: 0">
            <img src="<%= rootURL %>/assets/img/s.png" alt="">
        </span>
        <span style="--index: 1">
            <img src="<%= rootURL %>/assets/img/t.png" alt="">
        </span>
        <span style="--index: 2">
            <img src="<%= rootURL %>/assets/img/a.png" alt="">
        </span>
        <span style="--index: 3">
            <img src="<%= rootURL %>/assets/img/f.png" alt="">
        </span>
        <span style="--index: 4">
            <img src="<%= rootURL %>/assets/img/f.png" alt="">
        </span>
    </p>
    <!-- <p class="mv_staff">
        <img src="<%= rootURL %>/assets/img/mv_staff.png" alt="">
    </p> -->
    <div class="mv_itemofstaff">
        <div class="mv_ofstaff">
            <img src="<%= rootURL %>/assets/img/mv_ofstaff.png" alt="">
        </div>
        <div class="mv_likeitem">
            <img src="<%= rootURL %>/assets/img/mv_likeitem.png" alt="">
        </div>
    </div>
    <div class="mv_ph-flex mv_avobe">
        <div class="mv_people mv_people1">
            <img src="<%= rootURL %>/assets/img/mv_peple1.png" alt="">
        </div>
        <div class="mv_item mv_item1">
            <img src="<%= rootURL %>/assets/img/mv_item1.png" alt="">
        </div>
    </div>
    <div class="mv_ph-flex mv_under">
        <div class="mv_item mv_item2"><img src="<%= rootURL %>/assets/img/mv_item2.png" alt=""></div>
        <div class="mv_people mv_people2"><img src="<%= rootURL %>/assets/img/mv_peple2.png" alt=""></div>
    </div>
    <p class="mv_favorite">
        <span style="--index: 0">
            <img src="<%= rootURL %>/assets/img/f.png" alt="">
        </span>
        <span style="--index: 1">
            <img src="<%= rootURL %>/assets/img/a.png" alt="">
        </span>
        <span style="--index: 2">
            <img src="<%= rootURL %>/assets/img/v.png" alt="">
        </span>
        <span style="--index: 3">
            <img src="<%= rootURL %>/assets/img/o.png" alt="">
        </span>
        <span style="--index: 4">
            <img src="<%= rootURL %>/assets/img/r.png" alt="">
        </span>
        <span style="--index: 5">
            <img src="<%= rootURL %>/assets/img/i.png" alt="">
        </span>
        <span style="--index: 6">
            <img src="<%= rootURL %>/assets/img/t.png" alt="">
        </span>
        <span style="--index: 7">
            <img src="<%= rootURL %>/assets/img/e.png" alt="">
        </span>
        <span style="--index: 8">
            <img src="<%= rootURL %>/assets/img/s.png" alt="">
        </span>
    </p>
    <p class="mv_date aktiv_b">
        (&emsp;2025  Apr .&emsp;)
    </p>

</header>
<p class="lead fadein ja">
    ゴールドウインのスタッフがお届けするアイテム連載。<br>思い出がつまった偏愛品と独自の目線でセレクトした<br>今気になるアイテムを毎月全力でご紹介いたします！
</p>
<p class="scroll pro_b">
    Scroll
</p>
<div class="scroll_arrow">
    <div class="arrow arrow_1"></div>
    <div class="arrow arrow_2"></div>
</div>